/* // Mode: Tablet
@tablet: ~"(min-width: 768px)";
@tablet-area: 750px;

// Mode: Desktop
@desktop: ~"(min-width: 1024px)";
@desktop-area: 970px;
 */
@bg-white: #FFFFFF;
@mobile-tin: ~"(max-width: 425px)";
@mobile: ~"(max-width: 768px)";
@tablet: ~"(max-width: 1024px)";
@transition-duration: 0.5s;
@items: 4;
@transition-delay: 0.05s;