/* Catalog */
.catalog {
    max-width: 1262px;
    margin-left: auto;
    margin-right: auto;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;
    }

    &__title {
        margin: 0;
        padding-bottom: 8px;
        font-size: 35px;
        line-height: 42px;
        font-weight: 400;
        border-bottom: 2px solid #006DFE;
    }
}

@media @mobile {
    .catalog {
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

@media @mobile-tin {
    .catalog {
        &__title {
            font-size: 20px;
            line-height: 25px;

            & ~ .inner-link {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
            }
        }
    }
}