/* Main Content */

.content-box__container {
    background-color: #ffffff;
    max-width: 1262px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;


    /* Box Float */

}

.content-box {
    padding: 90px 60px 110px 100px;

}

.content-box--float {
    background-color: #ffffff;
    max-height: 655px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -220px;
    box-shadow: 0 2px 20px 0 #15182429;
}

.content-box__title {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 120px;
}

.content-box__list {
    display: flex;
    list-style: none;
}
