footer {
    margin: 0;
    padding: 0;
    background-color: #0E1D28;
}

.footer-navigation {
    display: flex;
    justify-content: space-around;

    padding: 120px;

    &__image {
        width: 170px;
        height: 64px;
    }

    &__wrap {
        color: white;
    }

    &__title {
        margin: 0;
        
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item a {
        
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }

}