/* Galery */

/*
.photo__galery {
    margin: 0;
    margin-bottom: 120px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1264px;

}

.photo .photo__img {
    margin: 0;
    padding: 0;
    max-width: 415px;
    height: 258px;
    background-color: white;
} 

.photo__big .photo__img { 
    margin: 0;
    padding: 0;
    max-width: 620px;
    height: 350px;
    background-color: white;
}

.photo {
    list-style: none;
    margin-bottom: 15px;
}

.photo__title {
    position: absolute;
    background-size: 35px 12px;
    width: 250px;
    height: 60px;
    font-size: 50px;
    line-height: 60px;
    background-repeat: no-repeat;
    background: transparent;
    margin-left: 20px;
    margin-top: 5px;
    color: white;
}
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    margin: 0;
    margin-bottom: 130px;
    padding: 0;
    
    list-style: none;
}

.photo {
    margin: 0;
    padding: 0;
    
    background-color: white;

    &__img {
        margin: 5px;

        width: 410px;
        height: 258px;
        }

    &--big &__img {
        width: 620px;
        height: 350px;
        }
    }

.photo__title {
    position: absolute;
    background-size: 35px 12px;
    width: 250px;
    height: 60px;
    font-size: 50px;
    line-height: 60px;
    background-repeat: no-repeat;
    background: transparent;
    margin-left: 20px;
    margin-top: 5px;
    color: white;
}