/* Main Header */
.main-header {
    margin: 0 auto 16.8%; 
}

/* Navigation */
.main-header__nav {
    display: flex;
    justify-content: space-between; 
}

.main-header__logo {

}

.main-header__logo--normal {
    width: 100px;
}