/* Main Header */
.main-header {
    margin: 0 auto 12.222vw;
}

/* Navigation */
.main-header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main-header__logo {
    width: 100px;
}