.post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 6.02%;

    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    &__content {
        box-sizing: border-box;
        width: 47.54%;
        padding: 2.06% 3.72%;

       /* & A {
            margin-bottom: 24px;
        }*/
    }

    &__title {
        margin: 0;
        margin-bottom: 3.565%;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
    }

    &__text {
        margin: 0;
        margin-bottom: 11.46%;
        font-weight: normal;
    }

    &__img-wrap {
        width: 47.54%;
        background-color: white;
        background-position: center;
        background-size: cover;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

@media @tablet {
    .post {
        &__content {
            width: 50%;
        }

        &__title {
            font-size: 26px;
            line-height: 34px;
        }

        &__img-wrap {
            width: 50%;
        }
    }
}

 @media @mobile {
     .post {
        flex-direction: column;

        &__content {
            width: 100%;
            padding: 0;
            padding-top: 20px;
        }

        &__text {
            margin-bottom: 6px;
        }

        &__img-wrap {
            width: 100%;
            height: 45vw;
        }
     }
 }
