.service-list {
    margin: 0 10px;
    
    &__pic {
        width: 64px;
        height: 64px;;
        margin-bottom: 2.852vw;
    }

    &__title {
        margin-bottom: 26px;
        
        font-size: 18px;
        font-weight: normal;
    }

    &__text {
        max-width: 320px;
        margin: 0;
        margin-bottom: 3.328vw;

        font-size: 16px;
        font-weight: normal;
    }
}   

@media @mobile {
    .service-list {
        margin-bottom: 10px;

        &__pic {
            margin: 0 auto 16px auto;
        }
    }
}