/* Top Container */

.top-container {
    background-image: linear-gradient(to top, #070708, transparent), url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  
    padding: 55px 90px 30px 90px;
  }
  
  .top-container__wrap {
      max-width: 1262px;
      margin: 0 auto;
      padding: 0 80px 0 100px;  
  }